.style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the body covers the entire viewport height */
  margin: 0;
  background-color: aqua;
}
.style2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.heading {
  font-family: 'Roboto';
}
